@import 'colors';

.container-fluid{
    max-width: 100%;
    padding: 0px 34px;
}
.img-responsive{
    max-width: 100%;
    height: auto;
}
*{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: $textcolor;
}
.grid{
    display: flex;
    flex-direction: row;
    .col-half-6{
        width: 50%;
    }
}
.daterangepicker.opensright:after {
    right: 55px !important;
    left: unset !important;
}
.daterangepicker.opensright:before {
    right: 54px !important;
    left: unset !important;;
}