html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

.container-fluid {
  max-width: 100%;
  padding: 0px 34px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

* {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  color: #4D4F5C;
}

.grid {
  display: flex;
  flex-direction: row;
}
.grid .col-half-6 {
  width: 50%;
}

.daterangepicker.opensright:after {
  right: 55px !important;
  left: unset !important;
}

.daterangepicker.opensright:before {
  right: 54px !important;
  left: unset !important;
}

.daterangepicker .drp-selected {
  display: none !important;
}

.daterangepicker td {
  height: 32px !important;
}

.daterangepicker td.active {
  border-radius: 50% !important;
  height: 32px !important;
  color: #37b04c !important;
  font-weight: bold !important;
  background-color: #cef1d4 !important;
}

.daterangepicker td.in-range {
  background-color: #ecfff0 !important;
}

.daterangepicker .ranges li.active {
  background-color: #37b04c !important;
}

.daterangepicker .applyBtn {
  width: 83%;
  margin: 0 auto;
  display: block;
  background: #37b04c;
  font-size: 13px;
  padding: 7px;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  margin-top: 10px;
}

.daterangepicker .ranges {
  padding-bottom: 12px;
}

.daterangepicker .header-nav {
  padding: 12px 12px 10px;
}
.daterangepicker .header-nav .ic-calendar {
  background-image: url("../img/calendar.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 18px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.daterangepicker .header-nav span {
  font-weight: 600;
  vertical-align: middle;
  font-size: 14px;
}
.daterangepicker .cancelBtn {
  position: absolute;
  top: 2px;
  right: 12px;
  padding: 0px;
  height: auto;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 36px;
  vertical-align: middle;
  line-height: 35px;
}

.header-menu {
  background-color: #FFFFFF;
  height: 64px;
  box-shadow: 0px 3px 6px #00000029;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
}
.header-menu-logo {
  display: flex;
}
.header-menu-logo a {
  width: 40%;
}
.header-menu-logo a .main-logo {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0px;
}
.header-menu-logo a:focus {
  outline: none;
}
.header-menu-logo .powered {
  margin-left: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}
.header-menu-logo .powered span {
  width: 14%;
  font-size: 11px;
}
.header-menu-logo .powered .sub-logo {
  width: 17%;
}
.header-menu-user {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content: flex-end;
  margin: 12px 0px;
  align-items: center;
}
.header-menu-user .author {
  display: flex;
  flex-direction: column;
}
.header-menu-user .author-img {
  width: 5%;
  margin: 0px 16px;
}
.header-menu-user .author .title {
  font-size: 14px;
}
.header-menu-user .author .name {
  font-size: 10px;
  color: #727272;
}
.header-menu-user .user-logout {
  width: 2%;
}

.sidebar-menu {
  display: block;
  padding-top: 64px;
  position: fixed;
  height: 100vh;
  background: #FFFFFF;
  width: 72px;
  border-right: 0.5px solid #D2D2D2;
  z-index: 2;
}
.sidebar-menu .main-menu ul {
  list-style: none;
}
.sidebar-menu .main-menu ul li {
  text-align: center;
  min-height: 48px;
}
.sidebar-menu .main-menu ul li a {
  display: inline-block;
}
.sidebar-menu .main-menu ul li a .menu-icon {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.sidebar-menu .main-menu ul li a .menu-icon span {
  display: inline-block;
  background-color: #C5C5C5;
  height: 3px;
  width: 24px;
  border-radius: 50px;
  margin-bottom: 4px;
}
.sidebar-menu .main-menu ul li a .menu-icon span:last-child {
  margin-bottom: 0px;
  width: 18px;
}
.sidebar-menu .main-menu ul li a.item-menu {
  width: 24px;
  margin-top: 10px;
}
.sidebar-menu .main-menu ul li.current {
  background-color: #D2D2D2;
}

.content {
  background: #F7F7F7;
  z-index: -2;
  margin-left: 72px;
  padding-top: 90px;
  min-height: 100vh;
}
.content .header-content {
  margin-bottom: 30px;
}
.content .header-content h2.title-content {
  margin: 0px;
  font-size: 40px;
  color: #707070C4;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}
.content .header-content .col-date-picker .date-range-input {
  width: 70%;
  float: right;
  text-align: left;
  height: 38px;
  background-color: #ffffff;
  padding: 7px 16px;
  vertical-align: middle;
  line-height: 35px;
  box-shadow: 0px 2px 3px #00000029;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .header-content .col-date-picker .date-range-input span {
  flex: 1 0 0;
}
.content .header-content .col-date-picker .date-range-input .ic-calendar {
  background-image: url("../img/calendar.png");
  display: inline-block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 16px;
}
.content .header-content .col-date-picker .date-range-input span::before {
  content: "Period";
  display: inline-block;
  font-size: 16px;
  margin-right: 16px;
}
.content .sub-content-title {
  background-color: #37B04C;
  padding: 12px 16px;
}
.content .sub-content-title h3 {
  color: #FFFFFF;
  font-size: 20px;
  margin: 0px;
  font-weight: 600;
  font-family: "Sourse Sans Pro", sans-serif;
}
.content .sub-content-title .text-link {
  text-align: right;
  font-size: 14px;
  font-weight: 300;
}
.content .sub-content-title .text-link i.ic-think {
  background-image: url("../img/ic-help.png");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 3px;
  vertical-align: bottom;
}
.content .sub-content-title .text-link a {
  font-size: 14px;
  color: #FFFFFF;
}
.content .sub-content-title .text-link button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-left: 10px;
}
.content .sub-content-title .text-link button i {
  color: #FFFFFF;
}
.content .sub-content-title .text-link button:focus {
  border: none;
  outline: none;
}
.content .sub-content-article {
  margin-top: 16px;
}
.content .sub-content-article .top-box {
  background: #ffffff;
  width: 19%;
  border: 1px solid #CDCDCD;
  border-radius: 2px;
  padding: 15px;
}
.content .sub-content-article .top-box-title {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.content .sub-content-article .top-box-title .txt {
  font-size: 14px;
  width: 96%;
}
.content .sub-content-article .top-box-title a {
  width: 4%;
}
.content .sub-content-article .top-box-content {
  display: flex;
}
.content .sub-content-article .top-box-content .amount {
  display: flex;
  flex-direction: column;
  width: 83%;
}
.content .sub-content-article .top-box-content .amount .price {
  font-weight: 700;
  font-size: 30px;
}
.content .sub-content-article .top-box-content .amount .price-desc {
  font-size: 11px;
}
.content .sub-content-article .top-box-content .amount .price-desc .ic-red-down {
  background-image: url("../img/arrow-down.svg");
  display: inline-block;
  height: 11px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 14px;
}
.content .sub-content-article .top-box-content .amount .price-desc .red {
  color: red;
  font-size: 14px;
}
.content .sub-content-article .top-box-content .basket {
  width: 48px;
}
.content .sub-content-article .bottom-column {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  padding-bottom: 60px;
}
.content .sub-content-article .bottom-column-half {
  flex: 1 0 0;
  margin-right: 8px;
}
.content .sub-content-article .bottom-column-half:first-child {
  border: 1px solid #CDCDCD;
  border-radius: 2px;
  padding: 24px;
  background-color: #FFFFFF;
}
.content .sub-content-article .bottom-column-half .title {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  align-items: center;
  margin-bottom: 20px;
}
.content .sub-content-article .bottom-column-half .title span {
  flex: 1 0 0;
  font-size: 20px;
}
.content .sub-content-article .bottom-column-half .title select.form-group {
  flex: 0 0 0;
  font-size: 12px;
  box-shadow: 0px 2px 3px #0000000D;
  border: 1px solid #D7DAE2;
  border-radius: 2px;
  padding: 9px;
}
.content .sub-content-article .bottom-column-half .title a {
  width: 2%;
  margin-left: 20px;
}
.content .sub-content-article .bottom-column-half .title a img {
  vertical-align: middle;
}
.content .sub-content-article .bottom-column-half:last-child {
  margin-right: 0px;
  margin-left: 8px;
  display: flex;
  flex-direction: row;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 {
  flex: 1 0 0;
  border: 1px solid #CDCDCD;
  border-radius: 2px;
  padding: 16px;
  background-color: #FFFFFF;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6:first-child {
  margin-right: 8px;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6:last-child {
  margin-left: 8px;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 .title-litle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 .title-litle span {
  font-size: 20px;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 .title-litle a {
  width: 5%;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 .title-litle a img {
  vertical-align: middle;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 .listings ul {
  list-style: none;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 .listings ul li {
  border: 0.5px solid #C5C5C59C;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-bottom: 8px;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 .listings ul li:last-child {
  margin-bottom: 0px;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 .listings ul li.top-sell {
  background-color: #FFE7BD;
  border: none;
  min-height: 80px;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 .listings ul li.top-sell .seller img {
  height: 80px;
  width: 80px;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 .listings ul li.top-sell .seller-desc span {
  font-size: 20px;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 .listings ul li.top-sell .seller-desc .sub-desc span {
  font-size: 14px;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 .listings ul li .seller {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 .listings ul li .seller img {
  width: 60px;
  height: 60px;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 .listings ul li .seller-desc {
  flex: 1 0 0;
  margin-left: 8px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 .listings ul li .seller-desc .sub-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3px;
}
.content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 .listings ul li .seller-desc .sub-desc .rawit, .content .sub-content-article .bottom-column-half:last-child .bottom-column-half-6 .listings ul li .seller-desc .sub-desc .tot-sell {
  font-size: 12px;
}

/*# sourceMappingURL=main.css.map */
